{% extends "layout.html.twig" %}

{% block title %}404 - محتوای مورد نظر پیدا نشد{% endblock %}
{% block header %}
    <style>
        .navbar.navbar-transparent {
            background-color: #9f1e22 !important;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="table-wrapper">
        <div class="wrapper-inner">
            <h1 class="text-center"><i class="warning sign icon"></i>خطا</h1>
            <h5 class="text-center" style="color: red" dir="ltr">404 - Not Found</h5>
            <h4 class="text-center">محتوای مورد نظر وجود ندارد. ممکن است آدرس آن عوض شده باشد یا محتوا پاک شده است.</h4>
        </div>
    </div>
{% endblock %}
{% block bottom_scripts %}
    <script>
        var footer_height = $('footer').height() + 48;
        var wrapper_height = $(window).height() - footer_height;
        $('.table-wrapper').css('min-height', wrapper_height + 'px');
    </script>
{% endblock %}